<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="strConnexionDreamTeam" value="Database=BD5W6_424Q;server=sqlinfo.cgodin.qc.ca;uid=5w6equipe424q;password=Secret41639;" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>