img{
    width : 100%
}
.a{
    color: #ffffff;
    text-decoration: none;
}

.tbRecherhce {
    background-image: url(images/form_bg.jpg);
    background-repeat: repeat-x;
    border: 1px solid #d1c7ac;
    width: 230px;
    color: #333333;
    padding: 3px;
    margin-right: 4px;
    margin-bottom: 8px;
    font-family: tahoma, arial, sans-serif;
}
.divider {
    width: 5px;
    height: auto;
    display: inline-block;
}