img{
    width : 100%
}
.a{
    color: #ffffff;
    text-decoration: none;
}

.tbRecherhce {
    background-image: url(images/form_bg.jpg);
    background-repeat: repeat-x;
    border: 1px solid #d1c7ac;
    width: 230px;
    color: #333333;
    padding: 3px;
    margin-right: 4px;
    margin-bottom: 8px;
    font-family: tahoma, arial, sans-serif;
}
.divider {
    width: 5px;
    height: auto;
    display: inline-block;
}

.vignette {
    position: relative;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
.panel-body .boutons-caches {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: rgba(254, 209, 54, 0.9);
    margin-left: -15px;
    margin-top: -15px;
}

    .panel-body .boutons-caches:hover {
        opacity: 1;
    }

    .panel-body .boutons-caches .tableau-boutons {
        position: absolute;
        top: 14%;
        width: 100%;
        text-align: center;
    }

.boutons-options-film {
    min-width: 60%;
    margin-bottom: 5px;
}

.titre-film {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
